{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}


{% block title %}Login{% endblock title %}

{% block navbar %}{% endblock navbar %}
{% block content %}
    <div class="container"> 
        <div class="card card-container">
            <form class="form-signin">
                {{ form.username(placeholder="username") }}
                {{ form.password(placeholder="password") }}
                <div class="checkbox">
                    <label>
                        {{ form.remember_me() }} Remember me
                    </label>
                </div>
                {{ form.submit(class="btn btn-lg btn-primary btn-block btn-signin") }}
                <!-- {{ wtf.quick_form(form) }} -->
            </form>
            <a href="#" class="forgot-password">
                Forgot password?
            </a>
        </div>
        <a href="{{ url_for('auth.register') }}" class="text-center register-link">
            Click here to register
        </a>
    </div>
{% endblock content %}
